
<p><b>2026 Tunis<a href="https://en.wikipedia.org/wiki/Tunisian_Sign_Language" target="_blank">*LST Tunisian Sign Language</a></b>
  {{label.supported_by}} <a href="https://www.cultura.gob.es/cultura/mc/bellasartes/portada.html" target="_blank">Ministerio de Cultura de España, Dirección General de Patrimonio Cultural y Bellas Artes</a>
  {{label.participants}} Aya Dhaou, Ayoub Belhani, Imen Mbarek, Malek Sfar, Nour Al_Islem Sbahi, Nour Ben Neticha
  {{label.interpreter}} Aya Ben Siida, Tasnim Bouchereb{{label.coordination}} Creativalue, Hedi Khalil, Aymen  Khelifi
  {{label.collaboration}} <a href="https://africaresearchconnects.com/fr/institution/9005404423/" target="_blank">ICHARA International Research Institute on Sign Language</a>
  {{label.thanks_to}} Joana Abad, Xavier de Luca, Mohamed Ali Mesbah (Daly).</p>

<p><b>2026 Alger <a href="https://en.wikipedia.org/wiki/Algerian_Sign_Language" target="_blank">*LSA Algerian Sign Language</a></b>
  {{label.supported_by}} <a href="https://www.cultura.gob.es/cultura/mc/bellasartes/portada.html" target="_blank">Ministerio de Cultura de España, Dirección General de Patrimonio Cultural y Bellas Artes</a>
  {{label.participants}} Atifa Kaizra, Hamida Taleb, Hassen Djouad, Mahieddine Charrad, Mhamed Lamine Said, Mustapha Iskeur
  {{label.interpreter}} Hamid Fadhel {{label.coordination}} Shahinez Guir
  {{label.collaboration}} <a href="https://jiser.org/" target="_blank">Jiser Reflexions Mediterrànies</a>
  {{label.thanks_to}} Association Les Signes d'Or de la Wilaya d'Alger, Xavier de Luca, Walid Aïdoud, Box 24.</p>

<p><b>2026 Barcelona <a href="https://en.wikipedia.org/wiki/Catalan_Sign_Language" target="_blank">*LSC Catalan Sign Language</a></b>
  {{label.supported_by}} <a href="https://www.cultura.gob.es/cultura/mc/bellasartes/portada.html" target="_blank">Ministerio de Cultura de España, Dirección General de Patrimonio Cultural y Bellas Artes</a>
  {{label.participants}} Carlota Boronat, Francisco Antonio Vidiella, Isaac Colomé, Laura Aymerich, Pepita Cedillo, Raquel Barandiarán
  {{label.interpreter}} Patricia Ruiz {{label.coordination}} Inclusivxs
  {{label.thanks_to}} Brisa Nebot.</p>

<p><b>2026 Roma <a href="https://en.wikipedia.org/wiki/Italian_Sign_Language" target="_blank">*LIS Lingua dei Segni Italiana</a></b>
  {{label.supported_by}} <a href="https://www.cultura.gob.es/cultura/mc/bellasartes/portada.html" target="_blank">Ministerio de Cultura de España, Dirección General de Patrimonio Cultural y Bellas Artes</a>
  {{label.participants}} Carolina Ambrosio, Lorenzo Laudo, Massimo Paletta, Olivier Fidalgo, Paula Severi, Serena Rosaria Conte
  {{label.interpreter}} Giada Santini {{label.coordination}} Lorenzo Laudo
  {{label.collaboration}} <a href="https://www.accademiaspagna.org/" target="_blank">Academia de España en Roma</a>
  {{label.thanks_to}} Valeria Bottalico, Yann Leto.</p>

<p><b>2026 Marseille <a href="https://en.wikipedia.org/wiki/French_Sign_Language" target="_blank">*LSF Langue des Signes Française</a></b>
  {{label.supported_by}} <a href="https://www.cultura.gob.es/cultura/mc/bellasartes/portada.html" target="_blank">Ministerio de Cultura de España, Dirección General de Patrimonio Cultural y Bellas Artes</a>
  {{label.participants}} Alysone Fecil, Hugo Gathier, Lola Colin
  {{label.interpreter}} Julie Klène {{label.coordination}} Franca Trovato
  {{label.collaboration}} <a href="https://www.beauxartsdemarseille.fr/lecole-ses-engagements/nous-connaitre/pisourde/" target="_blank">Program Pisourd-e/Beaus-Arts Marseille</a>
  {{label.thanks_to}} Diane Guyot, Frederic Pradeau, Yann Leto, Antoni Muntadas, Sylvia Amar.</p>

<p><b>2023 São Paulo <a href="https://en.wikipedia.org/wiki/Brazilian_Sign_Language" target="_blank">*LIBRAS Língua Brasileira de Sinais</a></b>
  {{label.supported_by}} <a href="https://www.eca.usp.br/institucional" target="_blank">ECA-USP Escola de Comunicações e Artes/Universidade de São Paulo</a>
  {{label.participants}} Ana Laura Rocha Vendrame, Edvaldo Carmo dos Santos, Fabio de Sa e Silva, Fernanda Oliveira Santos, Idenilson Batista Souza, Vitória Lopes Porto Justa
  {{label.interpreter}} Karina Regina da Silva Oliveira {{label.coordination}} Isart Santos
  {{label.thanks_to}} Martin Grossmann, Rubens Rewald, Sandro Costa, Marcelo Godoy, Paulo Hartmann, André Fratti Costa.</p>

<p><b>2023 Bilbao <a href="https://en.wikipedia.org/wiki/Spanish_Sign_Language" target="_blank">*LSE Lengua de Signos Española</a></b>
  {{label.supported_by}} <a href="https://bilbaomuseoa.eus/en/exhibitions/multiverso-3/" target="_blank">Museo de Bellas Artes de Bilbao</a>
  {{label.participants}} Amaia Mejía, Aitor Bedialauneta, Eduardo Amorós, Iñaki Montero
  {{label.interpreter}} Janire Martín
  {{label.collaboration}} <a href="https://euskal-gorrak.org/" target="_blank">Euskal Gorrak</a>, <a href="https://bilbaoarte.org/" target="_blank">BilboArte Fundazioa</a>
  {{label.thanks_to}} Javier Riaño, Miriam Isasi, Aitor Arakistain, Txuspo Poyo.</p>

<p><b>2021 Mexico City <a href="https://en.wikipedia.org/wiki/Mexican_Sign_Language" target="_blank">*LSM Lengua de Señas Mexicana</a></b>
  {{label.supported_by}} Unidades <a href="http://www.ler.uam.mx" target="_blank">Lerma</a> y <a href="http://www.cua.uam.mx" target="_blank">Cuajimalpa</a> de la Universidad Autónoma Metropolitana
  {{label.participants}} Gustavo Méndez, Indira López Cardona, Ixchel Solís García, Luis Alberto Valencia Beltrán, Luis Eduardo Méndez, Martha Cristina de Díaz, Mauricio Iván Álvarez García, Miguel Díaz, Verónica Álvarez
  {{label.interpreters}} Ixchel Solís García, Daniela Vite
  {{label.thanks_to}} Octavio Mercado, Mónica Benítez, Hugo Solís, Angélica Martínez de la Peña, Andrea Barojas, Carolina Belén González, Gabriela Villa, Isabel García Hidalgo, César Martínez, Luis Eudardo Vaquera.</p>

<p><b>2020 Valencia <a href="https://en.wikipedia.org/wiki/Spanish_Sign_Language" target="_blank">*LSE Lengua de Signos Española</a></b>
  {{label.supported_by}} <a href="https://www.consorcimuseus.gva.es/centro-del-carmen/exposicion/apertura-antoni-abad-deaf-city/?lang=es" target="_blank">Centre del Carme Cultura Contemporània</a>
  {{label.collaboration}} <a href="https://www.fesord.org/val/inicio/" target="_blank">Federació De Persones Sordes CV</a>, <a href="https://www.lasnaves.com/?lang=es" target="_blank">Las Naves</a>
  {{label.participants}} Aurora López, David Riutort, Daniel Bautista, Josep Antoni Gimeno, Mónica Díez, Pepa Burgal, Sonia Piqueras
  {{label.interpreter}} Carmen Tos
  {{label.thanks_to}} Matteo Sisti Sette, Roc Parés, Maribel Domènech, Salomé Cuesta, Justina Pérez Cantos.</p>

<p><b>DEAF.city 2.0</b> <b>ONLINE ARCHIVE AND AI CODE</b> by Adrià Lisa Bou, <b>Video editing</b> by Inma Alcario Westudio, <b>International Sign Clock code</b> by Daniel Julià, <b>English subtitle supervision</b> by Inès David</p>

<p><b>{{count.participants}}</b> participants <b>{{count.videos}}</b> videos <b> {{count.deaf_hearing_pct}}%</b> DEAF+HEARING DEAF.city contents under <u>CC BY-NC-ND 4.0</u></p>

<p><b>{{project_by}} <a href="https://www.antoniabad.info" target="_blank">Antoni Abad</a> &nbsp; <a href="https://www.instagram.com/antoni__abad/" target="_blank">{{contact}}</a></b></p>

<p class="credits-logos"><img class="logos" src="/img/ministerio.png" width="367" height="80" alt="" /><img src="/img/ecausp2.png" width="150" height="45" alt="" /><img src="/img/bilbaomuseoa2.png" width="154" height="30" alt="" /><img src="/img/uam2.png" width="100" height="100" alt="" /><img src="/img/cccc.png" width="100" height="63" alt="" /></p>
